// Colors

$black: #212121;
$transparent-black: rgba(53, 53, 53, 0.8);
$white: #fff;
$brown: #5D4037;
$light-brown: #795548;
$moko: #d7ccc8;
$transparent-moko: rgba(215,204,200,0.67);
$lime: #8BC34A;
$blue: #2196F3;

// Fonts

$base-font-family: 'Courier New', sans-serif;

$max-width: 960px;

$border-radius: 4px;