//@font-face {
//  font-family: 'Tajawal Light';
//  src: url('https://fonts.googleapis.com/css?family=Indie+Flower') format('truetype');
//  font-weight: normal;
//}

@font-face {
  font-family: 'Plex Mono';
  src: url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('https://fonts.googleapis.com/css?family=Dosis');
  font-weight: normal;
}

//@font-face {
//  font-family: 'Tajawal Bold';
//  src: url('https://fonts.googleapis.com/css?family=Tajawal:700') format('truetype');
//  font-weight: normal;
//}